/dts-v1/;

/ {
  compatible = "brcm,bcm2712"; // RPi5 = "brcm,bcm2712"

  fragment@0 {
    target = <&dsi0>;
    __overlay__ {
      status = "okay";
      #address-cells= <1>;
      #size-cells = <0>;
      port {
        dsi_out_port: endpoint {
          remote-endpoint = <&panel_dsi_port>;
        };
      };
      dxq7d0023: dxq7d0023@0 {
        compatible = "dxq,dxq7d0023";  //csvke: reference the correct compatible string from panel-chipone-icna3512.c of_device_id icna3512_of_match[]
        status = "okay";
        reg = <0>;
        reset = <&gpio 16 0>; // csvke: Adjust GPIO pin as needed, // cskve, pin 28 on fpc breakout board on orange dupont wire
        backlight = <&backlight>;
        port {
          panel_dsi_port: endpoint {
            remote-endpoint = <&dsi_out_port>;
          };
        };
      };
    };
  };
};